.navArrowsContainer {
  /* pointer-events: none; */
  display: flex;
  align-items: center;
  height: 100%;
}
.mainContainer {
  width: 100vw;
  overflow: hidden;
  cursor: grab;
  position: relative;
}
