.navArrowsContainer {
  /* pointer-events: none; */
  height: 100%;
  display: flex;
  align-items: center;
  height: 211px;
}
.mainContainer {
  width: 100vw;
  overflow: hidden;
  cursor: grab;
  position: relative;
}
